.home-section {
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
}

.home-img-container {
    display: flex;
    justify-content: flex-end;
}

.home-img {
    z-index: 10;
    width: 20vw;
    border-radius: 50%;
    margin-right: 15vw;
}

.blur-circle {
  z-index: 9; /* abaixo da imagem */
}