@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


/*Variáveis de cores e fontes*/

:root {
  --bg: #000712;
  --nav-bg: #020a04;
  --text: #eefbe8;
  --primary: #3973d0;
  --secondary: #2a4b81;
  --accent: #51a9cf;
  --card: #0d1a2f;

  --font-title: 'Montserrat', sans-serif;
  --font-highlight: 'Space Grotesk', sans-serif;
  --font-text: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Estiliza toda a barra */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* A trilha de fundo da barra */
::-webkit-scrollbar-track {
  background: var(--nav-bg); /* ou uma cor fixa */
}

/* O "ponteiro" que se move */
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
  border: 2px solid var(--nav-bg); /* espaço interno */

}

/* Quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}
