.nav-container {
  width: 100%;
  height: 10vh;
  background-color: var(--nav-bg);
}

.nav-field {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  gap: 2rem;
}

.nav-title {
  color: var(--primary);
  font-family: var(--font-title);
  font-size: 20px;
  flex-shrink: 0;
}

.nav-list {
  display: flex;
  gap: 34px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--accent);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.4s ease;
   display: inline-block;
}

.nav-link:hover {
  transform: translateY(-3px);
}